* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  padding: 20px 150px
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.title {
  font-size: 56px;
}

.header__quantity-info,
.header__total-cost {
  display: block;
  text-align: right;
}

.header-cart {
  position: relative;
}

.nav-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.header__view-cart-btn {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}